.logger {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999999999;
  padding: 2px;
  display: none;

  & > p {
    color: white;
    text-align: left;
    font-family: 'monospace';
    font-size: 14px;
    line-height: 14px;
  }
}
